:root {
    --primary-color: #4a90e2;
    --secondary-color: #53a3fd;
    --third-color: #4282cb;
    --sign-in-button-color: #4c6ef5;
    --white: #ffffff;
    --page-background: #f0f2f5;
    --text-color: #333;
    --font-family: 'Inter', sans-serif;
    --font-size-base: 16px;
    --spacing-base: 1rem;
    --border-radius: 16px;
    --input-button-border-radius: 4px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--page-background);
    padding: 20px;
    font-family: var(--font-family);
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background: transparent;
}

#login-info {
    flex-direction: column;
    color: var(--white);
    background: linear-gradient(to bottom, var(--secondary-color), var(--third-color));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: var(--spacing-base);
    padding-right: var(--spacing-base);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

#login-info h1{
    font-weight: bold;
    margin-bottom: 20px;
}
        
#login-form {
    color: var(--text-color);
    background-color: var(--white);
    display: flex;
    padding: 50px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form-field label {
    margin-bottom: 8px;
    font-weight: bold;
}

form-field input {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: var(--input-button-border-radius);
    margin-bottom: 24px;
    width: 100%;
    box-sizing: border-box;
}

sign-in-and-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sign-in {
    background-color: var(--sign-in-button-color);
    color: var(--white);
    border: 1px solid var(--sign-in-button-color);
    padding: 12px;
    border-radius: var(--input-button-border-radius);
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100px;
    font-weight: bold;
}

#sign-in:hover {
    background-color: var(--white);
    color: var(--sign-in-button-color);
}

password-recovery {
    text-align: right;
}

password-recovery a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

password-recovery a:hover {
    border-bottom: 1px solid var(--primary-color);
}